
.country{
    padding: 1rem;
    border: 2px solid brown;
    text-align: center;
    border-radius: 8px;
}

.image{
    width: 100px;
    height: 100px;
}

.btn-s{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 1rem;
}
.visited{
    background-color: beige;
    color: black;
}
